$pistache : #84A583;
$pistache-transparent: lighten ($pistache 30%); 
$dark-transparent : rgba(83, 77, 77, 0.56);
$brand-color : #FDCEA9;
$brand-100 :#fdc89f;
$red :#EA495F;
$sm : 576px;
$md: 768px;
$lg:992px;

@mixin btn-radius{
  border-radius: 3rem;
}
%title-presentation{
  height:250px;
  background: $brand-color;
 }

main{
  z-index: 1;
}
body{
  background: $pistache;

}

.title{
@extend %title-presentation;
}

.brandColorDarken {
  background: darken($brand-color,4%);
}

a {
  text-decoration: none;;
}

header{
  height: 90px;
  background: $dark-transparent;

  .donationLink{
    background: $red;
    @include btn-radius;
  }

  a{
    font-size: calc(1.5rem + .6vw);
    color:white;
     &:hover{
       color: $brand-color;
     }
  }
}
.myNavImg{
  margin-bottom: -5px;
}

.navbar-brand{
  background: $brand-color;
}
//Barre de navigation
.myNavbarCollapse{

  @media(max-width :$lg ){ // Max-width 992px 
    background: $dark-transparent;
    z-index: 2;
    margin-top: 12px;
    }
}

//Nav-Item
  .myNavigation{
    padding: 0.5rem 1rem;
    padding-left: 0;
    display: block;
    color: white;
  @media(max-width: $lg){
  margin-bottom: 40px;
  }
  &:hover{
    color: $brand-100;
    }
  }

  
.brandColorClass{
background: $brand-color;
}
.block{
  height: 250px;
}

//Parallax Update Good Size Img
main{
.parallax {
  background: url(images/sansabri.jpg) no-repeat left bottom;
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  h1{
    background: rgba(27, 26, 26,0.95);
  }
@media screen and (min-width: $sm){
  background: url(images/sansabri-sm.jpg) left;
}
@media screen and (min-width: $md) {
    background: url(images/sansabri-md.jpg)left bottom;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
  }
    @media screen and (min-width: $lg) {
      background: url(images/sansabri-lg.jpg) bottom;
      height: 600px;
      background-size: cover;
      background-attachment: fixed;
    }  
  }
}


.myAlert{
  @include btn-radius;
  background-color: darken($red,20%);
  
  &:hover{
    background: darken($red, 5%);
  }
}

.link{
  background-color: lighten($red,20%);
}

.hover:hover{
  transform: scale(1.1);
}

.hover-link:hover{
  transform: scale(1.1);
  background: $brand-color;
}

.event {
  background: #fdc89f;
}

.footer-end{
color: white;
font-size: 0.8rem;
}

.bg-endFooter{
  background-color: #333333;
}

.btn-event{
  @include btn-radius;
  background: seagreen;
  color : white;
}
.mytitle-card{
  color:black;
}
